@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap");
body {
  background-color: #fcfbfb;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}
#content {
  max-width: 1600px;
  margin: 0 auto;
}
header {
  background-color: #e2b33d;
}
#logo_link {
  padding-top: 5px;
}
nav a {
  text-align: center;
  padding: 35px;
}
#hero-msg h1,
#hero-msg h4,
.button-box,
main section {
  text-align: center;
}
main section img {
  box-sizing: border-box;
}
.home-title {
  color: #000000;
  font-family: "Lato", sans-serif;
  font-size: 2em;
  margin-top: 10px;
}
h4 {
  color: #000000;
}
nav a {
  color: #053c55;
  text-decoration: none;
}
nav a:hover {
  background-color: #053c55;
  color: #ffffff;
}
#background {
  height: 725px;
  background-color: #226cb1;
}
.logo {
  width: 80px;
}
.icon {
  padding-top: 10px;
  width: 80px;
}
#hero-img {
  width: 100%;
}
.book,
.join {
  background-color: #226cb1;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}
.book:hover,
.join:hover {
  background-color: #fcfbfb;
  color: #e2b33d;
}
.card-img {
  border: 10px solid #e2b33d;
}
.rivers-card,
.camping-card,
.rapids-card {
  margin: 200px 0;
}
.msg {
  background-color: #053c55;
  line-height: 1.5em;
  padding: 35px;
}
.msg h2 {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  margin: 0;
}
.msg p {
  color: #ffffff;
  font-size: 0.8em;
  padding-bottom: 15px;
}
footer {
  background-color: #053c55;
  color: #e2b33d;
  padding: 25px 50px;
  margin-top: 200px;
}
footer a {
  color: #e2b33d;
  text-decoration: none;
  font-size: 1.2em;
}
footer p a:hover {
  text-decoration: underline;
  color: #ffffff;
}
footer .social img {
  padding-top: 15px;
}
