* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}
body {
  display: grid;
  gap: 0.5rem;
  padding: 0.5rem 1rem 1rem 1rem;
}
h1 {
  font-size: 2rem;
}
img {
  width: 15rem;
  height: 15rem;
}
p {
  width: 20rem;
}
